# Environment folders
__pycache__/
env/   # Or the name of your specific virtual environment folder 

# Build artifacts
/target/
src/
Cargo.lock
Cargo.toml
/data/
# Other potential exclusions

.vscode/ # If you're using VS Code

# Dynamic Libraries
*.dylib
*.so


# Large JSON Files
*.json  


# Potentially Ignore Entire Directories 
Maayavi-vsC/lib/python3.12/site-packages/  # Exercise caution!