# Environment folders
__pycache__/
/env/
/gpt2-finetuned/
# Build artifacts
/target/
src/
Cargo.lock
Cargo.toml
# Other potential exclusions

.vscode/ # If you're using VS Code

# Dynamic Libraries
*.dylib
*.so
cached_lm_GPT2Tokenizer_128_test.txt
*.txt
# Large JSON Files
*.json  
cached_lm_GPT2Tokenizer_128_test.txt.lock

# Potentially Ignore Entire Directories 
/env/lib/
env/